@import url(xiangying.css);
.box{
    width:100%;
    height:1.4rem;
    padding-top:0.67rem;
    background: #29a6dc;
    position: relative;
}
.box .search{
    display: block;
    width:5.45rem;
    height:0.54rem;
    margin:0 auto;
    border-radius: 0.27rem;
    box-shadow:0 0 16px 1px rgba(1,116,166,0.33) ;
    font-size: 0.22rem;
    background: #f6f6f6 url(../images/12.png) no-repeat 0.14rem 0.14rem;
    background-size: 0.32rem 0.3rem;
    padding-left:0.6rem;
}
.box .search1{
    width:0.54rem;
    height:0.54rem;
    display: block;
    position: absolute;
    left:0.24rem;
    top:0.67rem;
    background: url("../images/13.png") no-repeat;
    background-size: 0.53rem 0.54rem;
}
.content{
    width:100%;
    height:0.9rem;
    margin-top:0.3rem;
    background: url("../images/17.png") no-repeat 2.02rem 0.27rem;
    background-size: 0.18rem 0.04rem;
}
.content img{
    display: block;
    width:0.3rem;
    height:0.3rem;
    margin-left:0.24rem;
    margin-right:0.15rem;
    float: left;
}
.content .images{
   font-size: 0.3rem;
    line-height: 0.3rem;
    float: left;
}
.content .images1{
    font-size: 0.18rem;
    line-height: 0.4rem;
    float: left;
    margin-top:0.3rem;
    margin-left:-1.2rem;
    color: #999;
}
.list{
    width:7.02rem;
    height:1.68rem;
    margin:0 auto;
    border-radius: 0.1rem;
    background: #fff;
    box-shadow:0 0 16px 1px rgba(105,105,105,0.2);
    padding-top:0.07rem;
    margin-bottom: 0.161rem;
}
.list .left{
    width:2.26rem;
    height:1.52rem;
    margin-left:0.07rem;
    border-radius:0.1rem;
    float: left;
}
.list .left1{
    display: block;
    width:2.26rem;
    height:1.52rem;
}
.list .left2{
    float: left;
    width:0.03rem;
    height:1.52rem;
    margin-left:0.13rem;
    border-left:3px dotted #c7c7c7;
}
.list .right{
    width:4.0rem;
    height:1.52rem;
    float: left;
}
.list .right2{
    display: block;
    font-size:0.28rem;
    color: #333;
    line-height: 0.5rem;
}
.list .right3{
     display: block;
     font-size:0.22rem;
     color: #666;
     line-height: 0.3rem;
     margin-left:0.18rem;
 }
.list .right4{
    display: block;
    font-size:0.16rem;
    width:1.8rem;
    height:0.3rem;
    color: #999;
    line-height: 0.30rem;
    margin-left:0.18rem;
    float: left;
    margin-top: 0.15rem;
    background: url("../images/16.png") no-repeat 0 0.03rem;
    padding-left:0.25rem;
    background-size: 0.18rem 0.24rem;
}
.list .right5{
    display: block;
    font-size:0.16rem;
    width:1.30rem;
    height:0.3rem;
    color: #999;
    line-height: 0.30rem;
    margin-left:0.18rem;
    float: right;
    margin-top: 0.15rem;
    background: url("../images/15.png") no-repeat 0 0.03rem;
    padding-left:0.25rem;
    background-size: 0.18rem 0.25rem;
}
.low{
    width:100%;
    height:5.3rem;
}
